<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Image.528ADF99-BFD3-424F-9E1A-A44E04100A70</key>
	<dict>
		<key>Name</key>
		<string>IMG_8816</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
</dict>
</plist>
