<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Image.D0A17D15-F801-4993-B087-9A661D222F78</key>
	<dict>
		<key>Name</key>
		<string>icon</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
</dict>
</plist>
